<ul class="nav main-menu">
    <li>
        <a href="/my">
            <i class="fa fa-users"></i>
            <span class="hidden-xs">Meus Escritos</span>
        </a>
    </li>
    <li>
        <a href="/escrita/new">
            <i class="fa fa-plus-circle"></i>
            <span class="hidden-xs">Novo Escrito</span>
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-book" aria-hidden="true"></i>
            <span class="hidden-xs">Leituras Favoritas</span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/teste" style="color:#F1BB04;">O Principe</a></li>
            <li><a href="/teste" style="color:#F1BB04;">Amor Lindo Amor</a></li>
            <li>
                <a href="/teste" style="color:#F1BB04;">
                    <i class="fa fa-plus-circle" aria-hidden="true" style="color:#F1BB04;"></i>
                    Adicionar leitura
                </a>
            </li>
        </ul>
    </li>
    <li class="dropdown" style="">
        <a href="#" class="dropdown-toggle">
            <i class="fa fa-table"></i>
            <span class="hidden-xs">Grupos</span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/teste" style="color:#F1BB04;">Leituras de Jogos</a></li>
            <li><a href="/teste" style="color:#F1BB04;">HQs New</a></li>
            <li>
                <a href="/teste" style="color:#F1BB04;">
                    <i class="fa fa-plus-circle" aria-hidden="true" style="color:#F1BB04;"></i>
                    Adicionar grupo
                </a>
            </li>
        </ul>
    </li>
</ul>